<template>
  <div>
    <h1>{{title}}</h1>
    <ninjas></ninjas>
  </div>
</template>

<script>
import Ninjas from './Ninjas.vue'
export default {
  components: {
    'ninjas': Ninjas
  },
  name: 'app',
  data () {
    return {
      title: 'Welcome to Your Vue.js App'
    }
  },
  methods:{
    greeting: function(){
      return 'Hello World';
    }
  }
}
</script>
<style scoped>
  h1{
    color: green;
  }
</style>